{% macro banner(title, url) %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-2285">
  <nav class="cs-container">
    <span class="cs-int-title"> {{title}} </span>
    <ul class="cs-breadcrumbs">
      <li class="cs-item">
        <a href="/" class="cs-link">Home</a>
      </li>
        {% set cumulative_path = "" %} 
        {% for segment in url.split('/') %} {% if segment.length > 0 %} 
            {% set cumulative_path = cumulative_path + "/" + segment %}
                <li  class="cs-item">
                    <a  {% if cumulative_path + '/' == url %} aria-current="page" {% endif %} class="cs-link {% if cumulative_path + '/' == url %} cs-active {% endif %}" href="{{cumulative_path}}">
                        {{ segment | replace('-', ' ') | capitalize }}
                    </a>
                </li>
            {% endif %} 
        {% endfor %}
    </ul>
  </nav>
  
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 640, height: 618 }) | avif %}" type="image/avif"/> 
    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 640, height: 618 }) | webp %}" type="image/webp"/>
    <!--Tablet Image-->
    <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2048, height: 834 }) | avif %}" type="image/avif"/> 
    <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2048, height: 834 }) | webp %}" type="image/webp"/>
    <!--Desktop Image-->
    <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 574 }) | avif %}" type="image/avif" /> 
    <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 574 }) | webp %}" type="image/webp" />
    <!--Image-->
    <img src="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 574 }) | jpeg %}" alt="natural stone facade on a garage door" width="1920" height="441" decoding="async" />
  </picture>
</div>
{% endmacro %}
