<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Get A Quote</span>
      <h2 class="cs-title">Ready To Get Your Project Done?</h2>
      <p class="cs-text">Choose Tibben Masonry for reliable, worry-free results. From new builds to repairs, we handle all your masonry needs.</p>
      <a href="/contact/" class="cs-button-solid">Get A Free Estimate Now</a>
    </div>
  </div>
  <picture class="cs-picture">
    <img src="/assets/images/cta.jpg" alt="stone house" width="1920" height="426" loading="lazy" decoding="async">
  </picture>
</section>
