<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Get A Quote</span>
      <h2 class="cs-title">Ready To Get Your Project Done?</h2>
      <p class="cs-text">Choose Tibben Masonry for reliable, worry-free results. From new builds to repairs, we handle all your masonry needs.</p>
      <a href="/contact/" class="cs-button-solid">Get A Free Estimate Now</a>
    </div>
  </div>
  <picture class="cs-picture">
	<!--Mobile Image-->
	<source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 640, height: 828 }) | avif %}" type="image/avif">
	<source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 640, height: 828 }) | webp %}" type="image/webp">
	<!--Tablet Image-->
	<source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2048, height: 778 }) | avif %}" type="image/avif">
	<source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2048, height: 778 }) | webp %}" type="image/webp">
	<!--Desktop Image-->
	<source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2500, height: 677 }) | avif %}" type="image/avif">
	<source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2500, height: 677 }) | webp %}" type="image/webp">
  <!--Image-->
	<img src="{% getUrl "/assets/images/cta.jpg" | resize({ width: 2500, height: 677 }) | jpeg %}" alt="natural stone facade on a garage door" width="1920" height="520" loading="lazy" decoding="async">
</picture>
</section>
