<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <div class="cs-top-contact">
                <a href="tel:{{client.phoneForTel}}" class="cs-top-link">
                    <img class="cs-link-icon" src="/assets/svgs/phone.svg" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                    {{client.phoneFormatted}}
                </a>   
                 <a href="mailto:{{client.email}}" class="cs-top-link">
                    <img class="cs-link-icon" src="/assets/svgs/email.svg" alt="logo" width="20" height="20" aria-hidden="true" decoding="async">
                    Click To Email
                </a>
                 <a href="/contact/" class="cs-top-link">
                    <img class="cs-link-icon" src="/assets/svgs/clock.svg" alt="logo" width="20" height="20" aria-hidden="true" decoding="async">
                    Mon - Sat: 7A.M. To 8P.M.
                </a>
            </div>
            <div class="cs-top-social">
                <a href="{{client.socials.facebook}}" target="_blank" class="cs-social-link">
                    <img class="cs-social-icon" src="/assets/svgs/facebook.svg" alt="facebook icon" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/svgs/logo-black.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-hidden="true">
                      <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == "/" %} cs-active {% endif %}" {% if page.url == "/" %} aria-current="page" {% endif %}>
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link {% if page.url == "/about/" %} cs-active {% endif %}" {% if page.url == "/about/" %} aria-current="page" {% endif %}>
                            About
                        </a>
                    </li>
                    <!-- Note: When copying this dropdown, update the id attribute with an appropriate name (e.g., "services-dropdown-toggle", "products-dropdown-toggle") and ensure the aria-labelledby attribute on the ul matches the button's id -->
                    <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <li class="cs-li cs-dropdown">
                        <button class="cs-li-link cs-dropdown-button {% if page.fileSlug in ['/brickwork-installation-repair/', '/stone-veneer-installation-repair/', '/poured-concreate-installation-repair/', '/parging-installation-repair/' ] %} cs-active {% endif %}" aria-haspopup="menu" aria-expanded="false" id="projects-dropdown-toggle">
                            Services
                            <img class="cs-drop-icon" src="/assets/svgs/dropdown.svg" alt="icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </button>
                        <ul  class="cs-drop-ul" aria-hidden="true" aria-labelledby="projects-dropdown-toggle">
                            <li class="cs-drop-li">
                                <a href="/brickwork-installation-repair/" class="cs-li-link cs-drop-link {% if page.url == "/brickwork-installation-repair/" %} cs-active {% endif %}" {% if page.url == "/brick-veneer-installation-repair/" %} aria-current="page" {% endif %}>Brick Masonry</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/stone-veneer-installation-repair/" class="cs-li-link cs-drop-link {% if page.url == "/stone-veneer-installation-repair/" %} cs-active {% endif %}" {% if page.url == "/stone-veneer-installation-repair/" %} aria-current="page" {% endif %}>Stone Masonry</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/concreate-masonry-cmu-installation-repair/" class="cs-li-link cs-drop-link {% if page.url == "/concreate-masonry-cmu-installation-repair/" %} cs-active {% endif %}" {% if page.url == "/concreate-masonry-cmu-installation-repair/" %} aria-current="page" {% endif %}>Concreate (CMU) Masonry</a>
                            </li>
                             <li class="cs-drop-li">
                                <a href="/poured-concreate-installation-repair/" class="cs-li-link cs-drop-link {% if page.url == "/poured-concreate-installation-repair/" %} cs-active {% endif %}" {% if page.url == "/poured-concreate-installation-repair/" %} aria-current="page" {% endif %}>Poured Concreate</a>
                            </li> 
                             <li class="cs-drop-li">
                                <a href="/parging-installation-repair/" class="cs-li-link cs-drop-link {% if page.url == "/parging-installation-repair/" %} cs-active {% endif %}" {% if page.url == "/parging-installation-repair/" %} aria-current="page" {% endif %}>Parging</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li cs-dropdown">
                        <button class="cs-li-link cs-dropdown-button {% if page.fileSlug in ['/doran-creek-estates/', '/hill-island/'] %} cs-active {% endif %}" aria-haspopup="menu" aria-expanded="false" id="projects-dropdown-toggle">
                            Projects 
                            <img class="cs-drop-icon" src="/assets/svgs/dropdown.svg" alt="icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </button>
                        <ul  class="cs-drop-ul" aria-hidden="true" aria-labelledby="projects-dropdown-toggle">
                            <li class="cs-drop-li">
                                <a href="/doran-creek-estates/" class="cs-li-link cs-drop-link {% if page.url == "/doran-creek-estates/" %} cs-active {% endif %}" {% if page.url == "/doran-creek-estates/" %} aria-current="page" {% endif %}>Doran Creek Estates</a>
                            </li>
                            <li class="cs-drop-li">
                                  <a href="/hill-island/" class="cs-li-link cs-drop-link {% if page.url == "/hill-island/" %} cs-active {% endif %}" {% if page.url == "/hill-island/" %} aria-current="page" {% endif %}>Hill Island</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="/blog/" class="cs-li-link {% if '/blog/' in page.url %} cs-active {% endif %}" {% if page.url == "/blog/" %} aria-current="page" {% endif %}>
                            Blog
                        </a>
                    </li>
                    <li class="cs-li cs-hide-on-desktop">
                        <a href="/contact/" class="cs-li-link {% if page.url == "/contact/" %} cs-active {% endif %}" {% if page.url == "/contact/" %} aria-current="page" {% endif %}>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact/" class="cs-button-solid cs-nav-button">Request A Quote</a>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
        <button id="dark-mode-toggle" aria-label="dark mode toggle" aria-pressed="false">
            <img class="cs-moon" aria-hidden="true" src="/assets/svgs/moon.svg" decoding="async" alt="" width="15" height="15">
            <img class="cs-sun" aria-hidden="true" src="/assets/svgs/sun.svg" decoding="async" alt="" width="15" height="15">
        </button>
    </div>
</header>
                                