---
title: "Doran Creek Estates Masonry Project | Tibben Masonry"
description: ""
permalink: "/doran-creek-estates/"
---

{% extends "layouts/base.html" %} {% block head %}
<!-- banner -->
<link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpeg" | resize({ width: 640, height: 618 }) | webp %}" />
<link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %} {% block body %} {% from "sections/banner.html" import banner %} {{ banner( title="Doran Creek Estates", url=page.url )}}

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-48">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Project #1</span>
      <h1 class="cs-title">Doran Creek Estates</h1>
      <p class="cs-text">Just outside Iroquois, Ontario, Doran Creek Estates is a subdivision of over 20 homes, all featuring masonry work completed by Tibben Masonry.</p>
    </div>

    <div class="cs-image-group">
      <div class="cs-row cs-row-1">
        <!-- Row 1-->
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/block.jpg" | resize({ width: 576, height: 284 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/doran-creek/block.jpg" | resize({ width: 576, height: 284 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/block.jpg" | resize({ width: 634, height: 908 }) | avif %}" type="image/avif">
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/block.jpg" | resize({ width: 634, height: 908 }) | webp %}" type="image/webp">
          <!--Desktop Image-->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/block.jpg" | resize({ width: 826, height: 1134 }) | avif %}" type="image/avif"> <source media="(min-width:
          1025px)" srcset="{% getUrl "/assets/images/doran-creek/block.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp"> <img src="{% getUrl
          "/assets/images/doran-creek/block.jpg" | resize({ width: 826, height: 1134 }) | jpeg %}" alt="Block foundation wall at Doran Creek" width="413" height="567" loading="lazy" decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/concrete-slab.jpg" | resize({ width: 576, height: 314 }) | avif %}" type="image/avif"> <source
          media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/concrete-slab.jpg" | resize({ width: 576, height: 314 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/concrete-slab.jpg" | resize({ width: 634, height: 1006 }) | avif %}"
          type="image/avif"> <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/concrete-slab.jpg" | resize({ width: 634, height: 1006 }) | webp
          %}" type="image/webp">
          <!--Desktop Image-->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/concrete-slab.jpg" | resize({ width: 826, height: 1258 }) | avif %}" type="image/avif"> <source
          media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/concrete-slab.jpg" | resize({ width: 826, height: 1258 }) | webp %}" type="image/webp">
          <!--Image-->
          <img src="{% getUrl "/assets/images/doran-creek/concrete-slab.jpg" | resize({ width: 826, height: 1258 }) | jpeg %}" alt="Concreate poured basement floor" width="413" height="629"
          loading="lazy" decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/house-1.jpg" | resize({ width: 576, height: 256 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/doran-creek/house-1.jpg" | resize({ width: 576, height: 256 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/house-1.jpg" | resize({ width: 634, height: 820 }) | avif %}" type="image/avif">
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/house-1.jpg" | resize({ width: 634, height: 820 }) | webp %}" type="image/webp">
          <!--Desktop Image-->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/house-1.jpg" | resize({ width: 826, height: 1024 }) | avif %}" type="image/avif"> <source media="(min-width:
          1025px)" srcset="{% getUrl "/assets/images/doran-creek/house-1.jpg" | resize({ width: 826, height: 1024 }) | webp %}" type="image/webp"> <img src="{% getUrl
          "/assets/images/doran-creek/house-1.jpg" | resize({ width: 826, height: 1024 }) | jpeg %}" alt="Stone Veneer on a house at Doran Creek" width="413" height="512" loading="lazy"
          decoding="async">
        </picture>
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/house-2.jpg" | resize({ width: 576, height: 246 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/doran-creek/house-2.jpg" | resize({ width: 576, height: 246 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/house-2.jpg" | resize({ width: 634, height: 788 }) | avif %}" type="image/avif">
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/house-2.jpg" | resize({ width: 634, height: 788 }) | webp %}" type="image/webp">
          <!--Desktop Image-->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/house-2.jpg" | resize({ width: 826, height: 984 }) | avif %}" type="image/avif"> <source media="(min-width:
          1025px)" srcset="{% getUrl "/assets/images/doran-creek/house-2.jpg" | resize({ width: 826, height: 984 }) | webp %}" type="image/webp"> <img src="{% getUrl
          "/assets/images/doran-creek/house-2.jpg" | resize({ width: 826, height: 984 }) | jpeg %}" alt="Stone Veneer wrapped around the house" width="413" height="492" loading="lazy"
          decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/house.jpg" | resize({ width: 576, height: 258 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/doran-creek/house.jpg" | resize({ width: 576, height: 258 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/house.jpg" | resize({ width: 634, height: 828 }) | avif %}" type="image/avif">
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/house.jpg" | resize({ width: 634, height: 828 }) | webp %}" type="image/webp">
          <!-- Desktop Image -->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/house.jpg" | resize({ width: 826, height: 1034 }) | avif %}" type="image/avif"> <source media="(min-width:
          1025px)" srcset="{% getUrl "/assets/images/doran-creek/house.jpg" | resize({ width: 826, height: 1034 }) | webp %}" type="image/webp"> <img src="{% getUrl
          "/assets/images/doran-creek/house.jpg" | resize({ width: 826, height: 1034 }) | jpeg %}" alt="natural stone wraped around the house" width="413" height="517" loading="lazy" decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/key-stone.jpg" | resize({ width: 576, height: 314 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/doran-creek/key-stone.jpg" | resize({ width: 576, height: 314 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/key-stone.jpg" | resize({ width: 634, height: 1006 }) | avif %}" type="image/avif">
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/key-stone.jpg" | resize({ width: 634, height: 1006 }) | webp %}" type="image/webp">
          <!--Desktop Image-->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/key-stone.jpg" | resize({ width: 826, height: 1258 }) | avif %}" type="image/avif"> <source
          media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/key-stone.jpg" | resize({ width: 826, height: 1258 }) | webp %}" type="image/webp"> <img src="{% getUrl
          "/assets/images/doran-creek/key-stone.jpg" | resize({ width: 826, height: 1258 }) | jpeg %}" alt="key stone pattern out of natural stone" width="413" height="629" loading="lazy"
          decoding="async">
        </picture>
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/outdoor-kitchen.jpg" | resize({ width: 576, height: 312 }) | avif %}" type="image/avif"> <source
          media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/outdoor-kitchen.jpg" | resize({ width: 576, height: 312 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/outdoor-kitchen.jpg" | resize({ width: 634, height: 1000 }) | avif %}"
          type="image/avif"> <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/outdoor-kitchen.jpg" | resize({ width: 634, height: 1000 }) | webp
          %}" type="image/webp">
          <!--Desktop Image-->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/outdoor-kitchen.jpg" | resize({ width: 826, height: 1250 }) | avif %}" type="image/avif"> <source
          media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/outdoor-kitchen.jpg" | resize({ width: 826, height: 1250 }) | webp %}" type="image/webp">
          <!-- Image -->
          <img src="{% getUrl "/assets/images/doran-creek/outdoor-kitchen.jpg" | resize({ width: 826, height: 1250 }) | jpeg %}" alt="Outdoor stone and firebricked fireplace" width="413" height="625"
          loading="lazy" decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/solider-corse.jpg" | resize({ width: 576, height: 226 }) | avif %}" type="image/avif"> <source
          media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/solider-corse.jpg" | resize({ width: 576, height: 226 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/solider-corse.jpg" | resize({ width: 634, height: 724 }) | avif %}"
          type="image/avif"> <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/solider-corse.jpg" | resize({ width: 634, height: 724 }) | webp
          %}" type="image/webp">
          <!--Desktop Image-->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/solider-corse.jpg" | resize({ width: 826, height: 904 }) | avif %}" type="image/avif"> <source
          media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/solider-corse.jpg" | resize({ width: 826, height: 904 }) | webp %}" type="image/webp"> <img src="{% getUrl
          "/assets/images/doran-creek/solider-corse.jpg" | resize({ width: 826, height: 904 }) | jpeg %}" alt="circular solider corse around an oval window" width="413" height="452" loading="lazy"
          decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/doran-creek/house-3.jpg" | resize({ width: 576, height: 314 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/doran-creek/house-3.jpg" | resize({ width: 576, height: 314 }) | webp %}" type="image/webp">
          <!--Tablet Image-->
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/house-3.jpg" | resize({ width: 634, height: 1006 }) | avif %}" type="image/avif">
          <source media="(min-width: 601px) and (max-width: 1024px)" srcset="{% getUrl "/assets/images/doran-creek/house-3.jpg" | resize({ width: 634, height: 1006 }) | webp %}" type="image/webp">
          <!--Desktop Image-->
          <source media="(min-width: 1025px)" srcset="{% getUrl "/assets/images/doran-creek/house-3.jpg" | resize({ width: 826, height: 1258 }) | avif %}" type="image/avif"> <source media="(min-width:
          1025px)" srcset="{% getUrl "/assets/images/doran-creek/house-3.jpg" | resize({ width: 826, height: 1258 }) | webp %}" type="image/webp"> <img src="{% getUrl
          "/assets/images/doran-creek/house-3.jpg" | resize({ width: 826, height: 1258 }) | jpeg %}" alt="Stone veneer skirt and ceils wrapping around the font of the house" width="413" height="629"
          loading="lazy" decoding="async">
        </picture>
      </div>
    </div>

    <div id="map-1403">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6976.617087959498!2d-75.29884858034099!3d44.85939824723184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4c9430dc79b7%3A0x22c6f2c18e4f3fbe!2sDoran%20Creek%20Dr%2C%20South%20Dundas%2C%20ON%20K0E%201K0!5e0!3m2!1sen!2sca!4v1766530381155!5m2!1sen!2sca"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>

{% include "sections/cta.html" %} {% endblock %}
