---
title: ""
description: ""
permalink: "/blog/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %} {% block body %} {% from "sections/banner.html" import banner %} {{ banner( title="Blog", url=page.url )}}

<section id="events-1423">
  <div class="cs-container">
    {% if collections.post | length == 0 %}
    <div class="cs-content">
      <h1 class="cs-title">No Posts Available</h1>
      <p class="cs-text">Currently no posts check back later.</p>
    </div>
    {% else %}
    <div class="cs-content">
      <h1 class="cs-title">Masonry Tips for Homeowners</h1>
    </div>
    <ul class="cs-card-group">
      {%- for post in collections.post | reverse -%}
      <li class="cs-item">
        <a href="{{ post.url }}" class="cs-link">
          <article>
            <picture class="cs-picture" aria-hidden="true">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="{% getUrl post.data.image | resize({ width: 576, height: 400 }) | avif %}" type="image/avif" />
              <source media="(max-width: 600px)" srcset="{% getUrl post.data.image | resize({ width: 576, height: 400 }) | webp %}" type="image/webp" />
              <!--Tablet Image-->
              <source media="(max-width: 1024px)" srcset="{% getUrl post.data.image | resize({ width: 1142, height: 614 }) | avif %}" type="image/avif" />
              <source media="(max-width: 1024px)" srcset="{% getUrl post.data.image | resize({ width: 1142, height: 614 }) | webp %}" type="image/webp" />
              <!--Desktop Image-->
              <source media="(min-width: 1024px)" srcset="{% getUrl post.data.image | resize({ width: 1648, height: 800 }) | avif %}" type="image/avif" />
              <source media="(min-width: 1024px)" srcset="{% getUrl post.data.image | resize({ width: 1648, height: 800 }) | webp %}" type="image/webp" />
              <img src="{% getUrl post.data.image | resize({ width: 1648, height: 800 }) | jpeg %}" alt="{{ post.data.alt }}" width="824" height="400" decoding="async" />
            </picture>
            <span class="cs-date">{{ post.date | postDate }}</span>
            <div class="cs-info">
              <h2 class="cs-h3">{{ post.data.title }}</h2>
              <p class="cs-item-text">{{ post.data.description }}</p>
              <span class="cs-link">
                Read More
                <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/chevron.svg" alt="icon" width="20" height="20" aria-hidden="true" />
              </span>
            </div>
          </article>
        </a>
      </li>
      {%- endfor -%}
    </ul>
    {% endif %}
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
