// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(800 / 16 * 1rem);
    width: 100%;
    box-sizing: border-box;
    gap: calc(20 / 16 * 1rem);

    .cs-featured-group {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid #ebebeb;
      width: 100%;
      padding: calc(32 / 16 * 1rem) calc(20 / 16 * 1rem);
    }

    .cs-sidebar-header {
      position: relative;
      display: block;
      margin-bottom: calc(16 / 16 * 1rem);
      font-size: calc(20 / 16 * 1rem);
      font-weight: bold;
      color: var(--headerColor);
      text-align: center;

      &:after {
        position: relative;
        content: "";
        display: block;
        margin: calc(16 / 16 * 1rem) auto;
        background: var(--headerColor);
        height: 3px;
        width: calc(64 / 16 * 1rem);
      }
    }

    .cs-sidebar-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #ebebeb;
      width: 100%;
      padding: calc(24 / 16 * 1rem) 0;
      text-decoration: none;
      gap: calc(24 / 16 * 1rem);

      &:nth-of-type(1) {
        padding-top: 0;
      }

      &:last-of-type {
        border: none;
        padding-bottom: 0;
      }
    }

    .cs-sidebar-img {
      position: relative;
      display: block;
      border-radius: 50%;
      height: calc(60 / 16 * 1rem);
      width: calc(60 / 16 * 1rem);
      overflow: hidden;
      flex: none;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-sidebar-title {
      display: block;
      margin: 0;
      margin-bottom: calc(4 / 16 * 1rem);
      text-decoration: none;
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 700;
      color: var(--headerColor);
    }

    .cs-button-solid {
      margin: 0;
    }

    .cs-sidebar-date {
      display: block;
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      color: var(--bodyTextColor);
    }

    .cs-toc {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      width: 100%;
      padding: 0;
      list-style: none;
      font-size: calc(14 / 16 * 1rem);
      gap: 1rem;
    }

    .cs-toc-item {
      margin: 0;
      padding: 0;
      list-style: none;

      &.cs-active {
        border-left: 4px solid var(--primary);
        padding-left: calc(16 / 16 * 1rem);

        .cs-toc-link {
          font-weight: 700;
          color: var(--primary);
        }
      }
    }

    .cs-toc-link {
      display: block;
      width: 100%;
      text-decoration: none;
      color: var(--bodyTextColor);
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #blog-sidebar {
    position: sticky;
    top: 10rem;
    max-width: calc(360 / 16 * 1rem);
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #blog-sidebar {
      .cs-sidebar-header,
      .cs-toc-link,
      .cs-sidebar-title,
      .cs-sidebar-date {
        color: var(--bodyTextColorWhite);
      }

      .cs-sidebar-date {
        opacity: 0.8;
      }

      .cs-sidebar-header {
        &::after {
          background-color: var(--bodyTextColorWhite);
        }
      }

      .cs-toc-item {
        &.cs-active {
          border-color: var(--secondary);

          .cs-toc-link {
            color: var(--secondary);
          }
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---     Single Blog Article    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #single-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: calc(1280 / 16 * 1rem);
    width: 100%;
    padding: var(--sectionPadding);
    gap: calc(64 / 16 * 1rem);

    .cs-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: calc(64 / 16 * 1rem);
    }

    .cs-article-post {
      display: block;
      max-width: calc(800 / 16 * 1rem);
      width: 100%;
    }

    .cs-article-image {
      position: relative;
      display: block;
      margin: 0 0 calc(48 / 16 * 1rem);
      /* 200px - 400px */
      height: clamp(12.5rem, 30vw, 25rem);
      width: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-author-img {
      position: relative;
      display: block;
      border-radius: 50%;
      height: calc(32 / 16 * 1rem);
      width: calc(32 / 16 * 1rem);
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-author-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(12 / 16 * 1rem);
    }

    .cs-author-name,
    .cs-date {
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      color: var(--bodyTextColor);
    }

    .cs-dot {
      display: block;
      border-radius: 50%;
      background-color: var(--primary);
      height: calc(3 / 16 * 1rem);
      width: calc(3 / 16 * 1rem);
    }

    .cs-article-title {
      margin: 0 0 calc(16 / 16 * 1rem);
      max-width: calc(550 / 16 * 1rem);
      /* 20px - 39px */
      font-size: clamp(1.25rem, 5vw, 2.4375rem);
      line-height: 1.4em;
      font-weight: 700;
      color: var(--headerColor);
    }

    .cs-article-content {
      border-top: 1px solid #ebebeb;
      margin-top: calc(16 / 16 * 1rem);
      padding-top: calc(24 / 16 * 1rem);

      h1 {
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(32 / 16 * 1rem);
        line-height: 1.75em;
        font-weight: 700;
        color: var(--headerColor);
      }
    }

    .cs-article-group,
    .cs-article-content {
      h2 {
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(28 / 16 * 1rem);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--headerColor);
      }

      h3 {
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(24 / 16 * 1rem);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--primary);
      }

      h4,
      h5,
      h6 {
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(20 / 16 * 1rem);
        line-height: 1.5em;
        font-weight: 700;
        color: var(--headerColor);
      }

      p {
        margin: 0;
        margin-bottom: calc(16 / 16 * 1rem);
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.6em;
        color: var(--bodyTextColor);
      }

      a:not(.cs-button-solid) {
        text-decoration: underline;
        font-size: inherit;
        color: var(--secondary);
      }

      .cs-button-solid {
        margin-bottom: calc(32 / 16 * 1rem);
      }

      ul,
      ol {
        margin: calc(16 / 16 * 1rem) 0;
        padding-left: calc(40 / 16 * 1rem);

        li {
          margin-bottom: calc(16 / 16 * 1rem);
          list-style: circle;
          font-size: calc(16 / 16 * 1rem);
          line-height: 1.6em;
          color: var(--bodyTextColor);
        }
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #single-article {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #single-article {
      .cs-article-group,
      .cs-article-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: white;
        }

        p,
        span,
        li {
          color: var(--bodyTextColorWhite);
        }

        p,
        span,
        li {
          opacity: 0.8;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---          Events            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #events-1423 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(784 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      /* max width of 18 characters, includes spaces between words */
      max-width: 25ch;
      margin: 0;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      max-width: calc(704 / 16 * 1rem);
      background-color: #fff;
      border: 1px solid #e8e8e8;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-column: span 12;
      position: relative;
      overflow: hidden;
      transition: box-shadow 0.3s, border-color 0.3s;

      &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-color: transparent;

        .cs-picture {
          img {
            opacity: 0.3;
            transform: scale(1.1);
          }
        }

        .cs-h3 {
          color: var(--primary);
        }
      }
    }

    .cs-picture {
      width: 100%;
      height: calc(240 / 16 * 1rem);
      background-color: #1a1a1a;
      display: block;
      position: relative;
      z-index: 1;
      overflow: hidden;
      /* prevents flexbox from squishing it */
      flex: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.6s, opacity 0.3s;
      }
    }

    .cs-info {
      height: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: calc(24 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: 2;
    }

    .cs-date {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: calc(8 / 16 * 1rem) calc(16 / 16 * 1rem);
      color: #fff;
      background-color: var(--primary);
      display: inline-block;
      position: absolute;
      top: calc(16 / 16 * 1rem);
      z-index: 2;
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0 0 calc(12 / 16 * 1rem) 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-align: inherit;
      margin: 0 0 calc(20 / 16 * 1rem);
      color: var(--bodyTextColor);
    }

    .cs-link {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      text-decoration: none;
      margin-top: auto;
      color: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .cs-arrow {
          transform: translateX(0.25rem);
        }
      }
    }

    .cs-arrow {
      width: calc(20 / 16 * 1rem);
      height: auto;
      transition: transform 0.3s;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: calc(150 / 16 * 1rem);
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 calc(24 / 16 * 1rem);
      color: #fff;
      background-color: var(--primary);
      border: none;
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-background {
      width: 100%;
      height: 50%;
      max-height: calc(450 / 16 * 1rem);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #f7f7f7;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.25rem) {
  #events-1423 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-title {
      margin: 0;
    }

    .cs-item {
      flex-direction: row;
    }

    .cs-picture {
      max-width: calc(284 / 16 * 1rem);
    }

    .cs-info {
      justify-content: center;
    }

    .cs-link {
      margin-top: initial;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #events-1423 {
    .cs-item {
      flex-direction: column;
      grid-column: span 4;
    }

    .cs-picture {
      max-width: none;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #events-1423 {
      background-color: rgba(0, 0, 0, 0.2);

      .cs-title {
        color: white;
      }

      .cs-item {
        &:hover {
          .cs-h3 {
            color: var(--secondary);
          }
        }
      }

      .cs-text,
      .cs-h3,
      .cs-link,
      .cs-item-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-text,
      .cs-item-text {
        opacity: 0.8;
      }

      .cs-item {
        background-color: var(--medium);
        border-color: rgba(255, 255, 255, 0.2);
        &:before {
          opacity: 0.3;
        }
      }

      .cs-picture {
        border-color: var(--bodyTextColorWhite);
      }

      .cs-floater {
        filter: grayscale(1) brightness(1000%);
      }

      .cs-link {
        color: var(--secondary);

        .cs-arrow {
          content: url("/assets/svgs/chevron-alt.svg");
        }
      }

      .cs-background {
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: 0.4;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }

        img {
          opacity: 0.05;
        }
      }
    }
  }
}
