/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1403 {
    padding: var(--sectionPadding);
    padding-bottom: 0;
    background-color: #f7f7f7;
    position: relative;
    z-index: 10;

    .cs-topper {
      color: var(--primary);
    }

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      column-gap: auto;
      /* 48px - 64px */
      gap: clamp(2rem, 3vw, 3rem);
      position: relative;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: calc(650 / 16 * 1rem);
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-title {
      max-width: 23ch;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-ul {
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(24 / 16 * 1rem);
      position: relative;
    }

    .cs-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(20 / 16 * 1rem);

      &:hover {
        .cs-icon-wrapper {
          transform: scale(1.1);
        }
      }
    }

    .cs-header {
      font-size: calc(20 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: calc(12 / 16 * 1rem);
      color: var(--headerColor);
      display: block;
    }

    .cs-link {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      text-decoration: none;
      color: #767676;
      display: block;
      position: relative;

      &:hover {
        text-decoration: underline;
      }
    }

    .cs-icon-wrapper {
      width: calc(60 / 16 * 1rem);
      height: calc(60 / 16 * 1rem);
      margin: 0;
      border-radius: 50%;
      border: 1px solid #bababa;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
    }

    .cs-icon {
      width: calc(24 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-form {
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      /* -30px to -100px */
      margin-bottom: calc(clamp(1.875rem, 7vw, 6.25rem) * -1);
      /* 24px - 48px top and bottom */
      /* 16px - 48px left and right */
      padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
      /* prevents flexbox from affecting height and width */
      box-sizing: border-box;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: calc(12 / 16 * 1rem);
    }

    .cs-h3 {
      /* 20px - 39px */
      font-size: clamp(1.25rem, 3vw, 2.4375rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 calc(4 / 16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-label {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      width: 100%;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: calc(4 / 16 * 1rem);
    }

    .cs-input {
      font-size: calc(16 / 16 * 1rem);
      width: 100%;
      height: calc(56 / 16 * 1rem);
      padding: 0;
      padding-left: calc(24 / 16 * 1rem);
      color: var(--headerColor);
      background-color: #f7f7f7;
      border: none;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      &::placeholder {
        color: #7d799c;
        opacity: 0.6;
      }
    }

    .cs-textarea {
      min-height: calc(120 / 16 * 1rem);
      padding-top: calc(24 / 16 * 1rem);
      margin-bottom: calc(12 / 16 * 1rem);
      font-family: inherit;
    }

    .cs-span-12 {
      grid-column: span 12;
    }

    .cs-submit {
      margin: 0;
      margin-top: 2rem;
      width: 100%;
      min-width: calc(200 / 16 * 1rem);
      border: none;

      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1403 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-content {
      width: 47%;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-submit {
      width: auto;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1403 {
    .cs-form {
      width: 46%;
      max-width: calc(578 / 16 * 1rem);
    }

    .cs-submit {
      width: auto;
    }
  }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1403 {
    .cs-graphic {
      display: block;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #contact-1403 {
      background-color: rgba(0, 0, 0, 0.2);
      .cs-title,
      .cs-text,
      .cs-header,
      .cs-link,
      .cs-label,
      .cs-h3 {
        color: var(--bodyTextColorWhite);
      }

      .cs-text,
      .cs-contact-text,
      .cs-link {
        opacity: 0.8;
      }

      .cs-icon-wrapper {
        border-color: #fff;
      }

      .cs-icon {
        /* makes it white */
        filter: grayscale(1) brightness(1000%);
      }

      .cs-form {
        background-color: var(--medium);
      }

      .cs-input {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        &::placeholder {
          color: #fff;
          opacity: 0.8;
        }
      }

      .cs-graphic {
        opacity: 0.4;
      }
    }
  }
}

/*-- -------------------------- -->
<---    Google Maps Iframe      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #map-1403 {
    iframe {
      position: relative;
      top: 5px;
      width: 100%;
      /* 400px - 560px */
      height: clamp(25rem, 42vw, 35rem);
    }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-2247 {
    /* 40 - 100px */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    text-align: center;
    padding: var(--sectionPadding);
    background-color: #f6f6f6;
    overflow: hidden;
    position: relative;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* 48px - 64px */
      gap: clamp(3rem, 5vw, 4rem);
    }

    .cs-title {
      margin-bottom: 0;
    }

    .cs-card {
      text-align: left;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 32px - 40px */
      gap: clamp(2rem, 6vw, 3rem);
      position: relative;
      z-index: 1;
    }

    .cs-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(24 / 16 * 1rem);
    }

    .cs-picture {
      width: clamp(calc(100 / 16 * 1rem), 15.5vw, calc(140 / 16 * 1rem));
      height: clamp(calc(100 / 16 * 1rem), 15.5vw, calc(140 / 16 * 1rem));
      display: block;
      flex: none;
      position: relative;
      z-index: 2;

      &:before {
        content: "";
        height: 2px;
        width: 100vw;
        background: var(--primary);
        opacity: 1;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-quote {
      position: absolute;
      right: 0;
      bottom: 0;
      width: clamp(calc(70 / 16 * 1rem), 6vw, calc(120 / 16 * 1rem));
      height: auto;
      margin-top: calc(-8 / 16 * 1rem);
      display: block;
      opacity: 0.2;
    }

    .cs-item-text {
      max-width: calc(1000 / 16 * 1rem);
      font-size: clamp(1rem, 0.8777rem + 0.5435vw, 1.3125rem);
      text-align: inherit;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-name-wrapper {
      padding-left: 2rem;
    }

    .cs-name {
      position: relative;
      font-size: clamp(1.125rem, 0.8071rem + 1.413vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &::before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--secondary);
        left: -1.5rem;
      }
    }

    .cs-desc {
      /* 14px - 16px */
      font-size: clamp(0.8125rem, 1.5vw, 1.125rem);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-2247 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-card {
      flex-direction: row;
    }

    .cs-picture {
      &:before {
        width: 2px;
        height: 100vh;
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #reviews-2247 {
      background-color: rgba(0, 0, 0, 0.2);
      .cs-title,
      .cs-item-text,
      .cs-name,
      .cs-desc {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        &:before {
          background-color: #000;
          opacity: 0.2;
        }
      }

      .cs-picture {
        opacity: 0.8;
        &:before {
          opacity: 0.7;
        }
      }

      .cs-desc {
        opacity: 0.8;
      }
    }
  }
}
