// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-227 {
    /* changes on tablet */
    padding: 0 calc(16 / 16 * 1rem);
    position: relative;
    z-index: 1;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;

    .cs-picture {
      /* Background Image */
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      &:before {
        /* Black Color Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes image act like a background-image */
        object-fit: cover;
      }
    }

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
      /* 144px - 300px - leaving extra space for the navigation */
      /* changes on tablet */
      padding: clamp(11.75rem, 25.95vw, 18.75rem) 0 0;
      /* 60px - 200px */
      padding-bottom: clamp(3.75rem, 12.5vw, 25rem);
      margin: auto;
      position: relative;

      //  margin-bottom: clamp(2.75rem, 15.5vw, 13.75rem);

      &:before {
        /* Left Line */
        content: "";
        width: 1px;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
      }
    }

    .cs-flex-group {
      /* 60px - 220px */
      margin-bottom: clamp(2.75rem, 15.5vw, 13.75rem);
      /* changes on tablet */
      margin-left: calc(20 / 16 * 1rem);
      width: 80vw;
      /* 464px - 562px */
      max-width: clamp(29rem, 62vw, 37.125rem);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

    .cs-topper {
      margin-bottom: calc(8 / 16 * 1rem);
    }

    .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      width: 100%;
      /* 32px - 40px */
      margin: 0 auto clamp(1.5rem, 2.5vw, 1.75rem) 0;
      color: white;
      position: relative;
    }

    .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.95vw, 1.25rem);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      /* 32px - 40px */
      margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
      /* 40px - 48px */
      margin-bottom: clamp(2.5rem, 4vw, 3rem);
      color: var(--bodyTextColorWhite);
    }

    .cs-button-solid {
      border-radius: 0;
      margin-bottom: 1.5rem;
      width: 100%;
      max-width: 100%;
    }

    .cs-button-4 {
      text-align: center;
      font-size: 1rem;
      /* 46px - 56px */
      border-radius: 0;
      line-height: 3.3064rem;
      border: 1px solid #ffffffe0;
      text-decoration: none;
      font-weight: 700;
      min-width: 10.875rem;
      margin: 0;
      overflow: hidden;
      color: #fff;
      padding: 0 3rem;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background-color: transparent;
      display: block;
      position: relative;
      z-index: 1;

      width: 100%;
    }

    .cs-button-4:before {
      content: "";
      width: 150%;
      height: 110%;
      background: var(--primary);
      opacity: 1;
      position: absolute;
      display: block;
      top: 50%;
      left: -130%;
      z-index: -2;
      transform: skew(45deg) translateY(-50%);
      transition: left 0.3s;

      transform-origin: left;
    }

    .cs-button-4:hover:before {
      left: -20%;
    }

    .cs-button-transparent {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      width: calc(180 / 16 * 1rem);
      text-decoration: none;
      font-weight: 700;
      margin: 0;
      color: #fff;
      padding: 0;
      background-color: transparent;
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        display: block;
        background: #000;
        opacity: 1;
        /* so it sits on top of the border */
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        z-index: -1;
        transform-origin: left;
        /* this is what creates the grow affect on hover */
        transform: scaleX(0);
        transition: transform 0.3s;
      }

      &:hover {
        &:before {
          transform: scaleX(1);
        }
      }

      .cs-img {
        display: block;
        margin-right: calc(12 / 16 * 1rem);
      }
    }

    .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .cs-item {
      list-style: none;
      position: relative;
      box-sizing: border-box;

      &:before {
        /* Top Line */
        content: "";
        width: 100vw;
        height: 1px;
        background: -moz-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &:last-of-type {
        &:after {
          /* Bottom line on last card */
          content: "";
          width: 100vw;
          height: 1px;
          background: -moz-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          position: absolute;
          display: block;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .cs-link {
      text-align: left;
      text-decoration: none;
      /* changes on tablet */
      padding: calc(28 / 16 * 1rem) calc(16 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;

      &:hover {
        &:before {
          opacity: 0.4;
        }
      }

      &:before {
        /* Hover Box */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
        transition: opacity 0.3s;
      }
    }

    .cs-number {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 900;
      /* 24px - 32px */
      margin-bottom: clamp(1.5rem, 4vw, 2rem);
      color: var(--secondary);
      display: block;
    }

    .cs-h2 {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 900;
      line-height: 1.5em;
      padding: 0;
      margin: 0;
      margin-bottom: calc(16 / 16 * 1rem);
      color: #fff;
      position: relative;
      z-index: 10000;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 3vw, 1rem);
      margin: 0;
      padding: 0;
      max-width: calc(500 / 16 * 1rem);
      color: var(--bodyTextColorWhite);
    }
  }
}

/* mobile large - 500px */
@media only screen and (min-width: 31.25rem) {
  #hero-227 {
    .cs-button-solid {
      margin: 0 1rem 1.5rem 0;
      width: auto;
    }

    .cs-button-4 {
      width: auto;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-227 {
    /* 32px - 40px */
    padding: 0 clamp(2rem, 5vw, 2.5rem);

    .cs-container {
      padding-bottom: calc(64 / 16 * 1rem);

      &:after {
        /* Right Line */
        content: "";
        width: 1px;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
      }
    }

    .cs-flex-group {
      /* 44px - 88px */
      margin-left: clamp(2.75rem, 5.9vw, 5.5rem);
    }

    .cs-button-solid {
      margin-bottom: 0;
    }

    .cs-card-group {
      flex-direction: row;
      position: relative;

      &:before {
        /* Top Line */
        content: "";
        /* make it extend past the left and right of the screen */
        width: 150vw;
        height: 1px;
        background: -moz-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        /* these two properties center the line horizontally */
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .cs-item {
      &:before {
        width: 1px;
        height: 100vh;
        background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */
        top: auto;
        left: auto;
        right: 0;
        bottom: calc(-64 / 16 * 1rem);
      }

      &:nth-of-type(1) {
        /* makes the first line under the buttons shorter */
        &:before {
          height: calc(630 / 16 * 1rem);
        }
      }

      &:last-of-type {
        &:before,
        &:after {
          display: none;
        }
      }
    }

    .cs-link {
      /* 44px - 64px top & bottom, 48px - 88px left & right */
      padding: clamp(2.75rem, 5.9vw, 5.5rem) clamp(3rem, 5.9vw, 5.5rem);
    }
  }
}

/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-227 {
    background: url("/assets/images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
    /* remove img tag so we can make parallax work */
    .cs-picture {
      img {
        display: none;
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #hero-227 {
      .cs-picture {
        &:before {
          opacity: 0.775;
        }
      }
    }
  }
}
