/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-page-713 {
    padding: var(--sectionPadding);
    background-color: #fff;
    /* clips the wave background from causing overflow issues when it goes off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: calc(738 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .comparison-table {
      width: 100%;
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.95rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .comparison-table thead tr {
      background: var(--primary-gradient);
      color: white;
      text-align: left;
    }
    .comparison-table th,
    .comparison-table td {
      padding: 0.75rem 1rem;
      border: 1px solid #ddd;
    }
    .comparison-table tbody tr {
      border-bottom: 1px solid #ddd;
    }
    .comparison-table tbody tr:nth-of-type(even) {
      background-color: #f9f9f9;
    }
    .highlight-box {
      position: relative;
      border-left: 0.25rem solid var(--primary);
      padding: 1.25rem;
      margin: 1.25rem 0;

      &::after {
        content: "";
        position: absolute;
        background: var(--primary);
        opacity: 0.05;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      text-align: inherit;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
    }

    h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }

    h3 {
      font-size: 1.25rem;
      color: var(--primary);
    }

    h4,
    h5,
    h6 {
      font-size: 1.25rem;
    }

    .cs-button-solid {
      margin: 2rem 0;
    }

    .cs-color {
      color: var(--primary);
    }

    p {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      margin: 0 0 1rem 0;
      color: var(--bodyTextColor);
      &:last-of-type {
        margin-bottom: 2rem;
      }

      a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: var(--primary);
      }
    }

    .cs-link {
      font-weight: 700;
      text-wrap: nowrap;
    }

    ol,
    ul {
      padding-left: 1.5rem;
      margin: 0 0 2rem 0;
      color: var(--bodyTextColor);
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .cs-no-bullet {
      &:before {
        display: none;
      }
    }

    ul {
      li {
        list-style: none;
        color: inherit;
        position: relative;

        &:before {
          /* custom list bullet */
          content: "";
          width: 3px;
          height: 3px;
          background: currentColor;
          opacity: 1;
          border-radius: 50%;
          position: absolute;
          display: block;
          top: calc(10 / 16 * 1rem);
          left: -0.75rem;
        }

        &:has(strong) {
          &:before {
            display: none;
          }
        }
      }
    }

    .cs-image-group {
      /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
      font-size: min(1vw, 1em);
      /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
      width: calc(542 / 16 * 1em);
      height: calc(773 / 16 * 1em);
      display: none;
      /* prevents flexbox from squishing it */
      flex: none;
      position: relative;
      /* flips it horizontally */
      transform: scaleX(-1);
    }

    .cs-picture {
      width: calc(542 / 16 * 1em);
      height: calc(647 / 16 * 1em);
      border: 0.75em solid #fff;
      background-color: #f7f7f7;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      /* prevents border from affecting height and width */
      box-sizing: border-box;
      /* clips img tag corners */
      overflow: hidden;
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
        margin: 0;
        /* makes it act like a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-background {
      display: none;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #content-page-713 {
    .cs-container {
      flex-direction: row;
      align-items: flex-start;
    }

    .cs-image-group {
      display: block;
    }

    .cs-background {
      width: 20%;
      height: 150%;
      background-color: #333;
      display: block;
      position: absolute;
      right: 0;
      top: calc(-200 / 16 * 1rem);
      z-index: -1;
      opacity: 1;
    }
  }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #content-page-713 {
    .cs-image-group {
      /* position absolute so we can have it overflow the container as seen in the design. */
      font-size: inherit;
      position: absolute;
      top: 0;
      right: calc(-100 / 16 * 1rem);
    }

    .cs-background {
      width: 50%;
      /* with the left edge always positioned at the center line, we push left of the center line by 335px.  This ensures that this element will stay exactly in this position no matter how wide the screen gets */
      margin-left: calc(335 / 16 * 1rem);
      right: auto;
      /* sets the left edge of the element to be at the center line */
      left: 50%;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #content-page-713 {
      background-color: var(--dark);

      .cs-title,
      .cs-text,
      h2,
      h3,
      h4,
      h5,
      h6,
      li,
      p {
        color: var(--bodyTextColorWhite);
      }
      .cs-color,
      a:not(.cs-button-solid) {
        color: var(--primary);
      }

      li,
      p {
        opacity: 0.8;
      }

      h3 {
        color: var(--primary);
      }

      .cs-color {
        color: var(--primary);
      }

      p,
      li {
        color: #ebebeb;
      }

      .cs-picture {
        border-color: var(--dark);
        background-color: var(--dark);
      }

      .cs-flower {
        filter: brightness(50%);
      }

      .cs-sense {
        filter: brightness(150%);
      }

      .cs-background {
        background-color: rgba(0, 0, 0, 0.2);

        filter: brightness(70%);
        img {
          opacity: 0.1;
        }
      }
    }
  }
}
